
  <style>
    body {
background-image: url('yoga1 (1).jpeg');
background-size: cover;
background-repeat: no-repeat;
      font-family: 'Quicksand', sans-serif;
      font-size: 20px;
      background-color: #f0f0f0;
      margin: 0;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
  
    .quiz-card {
      display: none;
      width: 400px;
      height: 400px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
      overflow: hidden;
      text-align: center;
    }

    .quiz-card.active {
      display: block;
      background-color:rgb(247, 223, 127);
    }

    .quiz-card-header {
      background-color: black;
      color: #fff;
      padding: 10px;
    }

    .quiz-card-content {
      padding: 20px;
      font-family: 'Quicksand', sans-serif;
    
     
    }

    .button-container {
      display: flex;
      justify-content: space-between;
    }

    .submit-btn {
       margin-top: 40px;
      background-color: black;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 48%; /* Adjust the width as needed */
    }
  </style>

    
  
  <div class="quiz-card active" id="card1">
    <div class="quiz-card-header">
      <h2>Question 1</h2>
    </div>
    <div class="quiz-card-content">
      <p>How many servings of fruits and vegetables do you eat each day?</p>
      <input id="fvcount" type="number" name="q1" placeholder="Your answer...">
    </div>
      <button class="submit-btn mt-7" onclick="nextCard('card2')">Next</button></div>
    
  </div>
  <div class="quiz-card" id="card2">
    <div class="quiz-card-header">
      <h2>Question 2</h2>
    </div>
    <div class="quiz-card-content">
      <p>How many servings of processed foods do you eat each day?</p>
      <input id="pcount" type="number" name="q2" placeholder="Your answer...">
    </div>
    <div class="btn-container"><button class="submit-btn" onclick="prevCard('card1')">Previous</button>
      <button class="submit-btn mt-7" onclick="nextCard('card3')">Next</button></div>
    
  </div>
  <div class="quiz-card" id="card3">
    <div class="quiz-card-header">
      <h2>Question 3</h2>
    </div>
    <div class="quiz-card-content">
      <p>How many times per week do you exercise for at least 30 minutes?</p>
      <input id="exercise" type="number" name="q3" placeholder="Your answer...">
    </div>
    <div class="btn-container"><button class="submit-btn" onclick="prevCard('card2')">Previous</button>
      <button style=" margin-top: 108px;" class="submit-btn" onclick="nextCard('card4')">Next</button></div>
    
  </div>
  <div class="quiz-card" id="card4">
    <div class="quiz-card-header">
      <h2>Question 4</h2>
    </div>
    <div class="quiz-card-content">
      <p>Have you ever been diagnosed with any chronic medical conditions? If yes, please specify.</p>
      <input id="fam" type="text" name="q4" placeholder="Your answer...">
      
    </div>
    <div class="btn-container"> <button class="submit-btn" onclick="prevCard('card3')">Previous</button>
      <button style=" margin-top: 60px;" class="submit-btn" onclick="nextCard('card5')">Next</button></div>
   
  </div>
  <div class="quiz-card" id="card5">
    <div class="quiz-card-header">
      <h2>Question 5</h2>
    </div>
    <div class="quiz-card-content">
      <p>Do you have any other health conditions?</p>
      <input id="other" type="text" id="question5" name="question5">
    </div>
    <div class="btn-container"><button class="submit-btn" onclick="prevCard('card4')">Previous</button>
      <button style=" margin-top: 105px;" class="submit-btn" onclick="nextCard('card6')">Next</button></div>
    
  </div>
  
  <div class="quiz-card" id="card6">
    <div class="quiz-card-header">
      <h2>Question 6</h2>
    </div>
    <div class="quiz-card-content">
      <p>How many hours do you sleep in a day?</p>
      <input id="sleep" type="number" name="q6" placeholder="Your answer...">
      
    </div>
    <div class="btn-container"><button class="submit-btn" onclick="prevCard('card5')">Previous</button>
      <button style=" margin-top: 130px;"class="submit-btn" onclick="nextCard('card7')">Next</button></div>
    

  </div>
  <div class="quiz-card" id="card7">
    <div class="quiz-card-header">
      <h2>Question 7</h2>
    </div>
    <div class="quiz-card-content">
      <p>How often do you consume sugary beverages (soda, energy drinks, sweetened juices) in a week?</p>
      <input id="sugar" type="number" name="q7" placeholder="Your answer...">
      
    </div>
    <div class="btn-container"><button class="submit-btn" onclick="prevCard('card6')">Previous</button>
      <button class="submit-btn mt-7" onclick="nextCard('card8')">Next</button></div>
  </div>
  <div class="quiz-card" id="card8">
    <div class="quiz-card-header">
      <h2>Question 8</h2>
    </div>
    <div class="quiz-card-content">
      <p>On average, how many hours do you spend on electronic devices (e.g., computer, phone, TV) per day?</p>
      <input id="screen" type="number" name="q8" placeholder="Your answer...">
      
    </div>
    <div class="btn-container"><button class="submit-btn" onclick="prevCard('card7')">Previous</button>
      <button class="submit-btn mt-7" onclick="nextCard('card9')">Next</button></div>
    

  </div>
  <div class="quiz-card" id="card9">
    <div class="quiz-card-header">
      <h2>Question 9</h2>
    </div>
    <div class="quiz-card-content">
      <p>How would you describe your stress level on a daily basis?</p>
      <input id="stress" type="text" name="q9" placeholder="Your answer...">
      
    </div>
    <div class="btn-container"><button class="submit-btn" onclick="prevCard('card8')">Previous</button>
      <button class="submit-btn mt-7" onclick="nextCard('card10')">Next</button></div>
    

  </div>
  <div class="quiz-card" id="card10">
    <div class="quiz-card-header">
      <h2>Question 10</h2>
    </div>
    <div class="quiz-card-content">
      <p>How often do you engage in activities that promote mental well-being, such as meditation, mindfulness, or relaxation exercises?</p>
      <input id="medi" type="text" name="q10" placeholder="Your answer...">
      
    </div>
    <div class="btn-container"><button class="submit-btn" onclick="prevCard('card9')">Previous</button>
      <button class="submit-btn mt7" onclick="nextCard('card11')">Next</button></div>
    

  </div>
  <div class="quiz-card" id="card11">
    <div class="quiz-card-header">
      <h2>Question 11</h2>
    </div>
    <div class="quiz-card-content">
      <p>Have you been sick in last 20 days?</p>
      <input id="sick" type="text" name="q11" placeholder="Your answer...">
      
    </div>
    <div class="btn-container"><button class="submit-btn" onclick="prevCard('card10')">Previous</button>
      <button class="submit-btn mt-7" onclick="btnSubmit()">Submit</button></div>
    
  
  </div>
</div>
<div id="loader" class="hidden m-auto h-auto w-[50vw] bg-red-300" >

</div>
<script>
 
    function showCard(cardId) {
      document.querySelectorAll('.quiz-card').forEach(card => {
        card.classList.remove('active');
      });
  
      document.getElementById(cardId).classList.add('active');
    }
  
    function nextCard(currentCardId) {
      var currentCardNumber = parseInt(currentCardId.replace('card', ''));
      var nextCardNumber = currentCardNumber ;
  
      var nextCardId = 'card' + nextCardNumber;
      if (document.getElementById(nextCardId)) {
        showCard(nextCardId);
      } else {
        submitQuiz();
      }
    }
  
    function prevCard(currentCardId) {
      var currentCardNumber = parseInt(currentCardId.replace('card', ''));
      var prevCardNumber = currentCardNumber ;
  
      var prevCardId = 'card' + prevCardNumber;
      if (document.getElementById(prevCardId)) {
        showCard(prevCardId);
      }
    }
    function btnSubmit(){
    
  const fvInput=document.getElementById("fvcount").value;
  const fInput=document.getElementById("pcount").value;
  const exerciseInput=document.getElementById("exercise").value;
  const famInput=document.getElementById("fam").value;
  const otherInput=document.getElementById("other").value;
  const sleepInput=document.getElementById("sleep").value;
  const sickInput=document.getElementById("sick").value;
  const stressInput =document.getElementById("stress").value;
  const screenInput=document.getElementById("screen").value;
  const sugarInput=document.getElementById("sugar").value;
  const mediInput=document.getElementById("medi").value;
  const formData = {
      medi: mediInput,
      sugar: sugarInput,
      screen: screenInput,
      stress: stressInput,
      fvcount: fvInput,
      pcount: fInput,
      exercise: exerciseInput,
      fam: famInput,
      other: otherInput,
      sleep: sleepInput,
      sick: sickInput,
    };

    const formContainer = document.getElementById('card11');
    formContainer.style.display = 'none';
    const loader = document.getElementById('loader');
    loader.classList.remove('hidden')
    fetch('/report', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(formData),
    })
    .then(response => response.text())
    .then(data => {
      loader.classList.add('hidden')
      const responseContainer = document.getElementById('responseContainer');
      responseContainer.innerText = data;
      
        console.log(data);
      })
      .catch(error => {
        console.error('Error:', error);
      });
    }
  </script>
  <div id="responseContainer">
  </div>